*{
	margin: 0;
	padding: 0;
}
#new_top{
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999999;
	background-color: #222;
}
.w1200{
	width: 1200px;
	margin: 0 auto;
}
.logo{
	width: 200px;
	height: 32px;
	margin-top: 19px;
	float: left;
}
p{
	font-size: 14px;
}
.nav1{
	float: left;
	overflow: hidden;
	margin-left: 110px;
	margin-top: 24px;
	list-style: none;
}
.nav1 li{
	float: left;
	margin-right: 54px;
}
.nav1 a.active, .nav1 a:hover{
	color: #fff !important;
}
.nav1 a{
	color: #999;
	text-decoration: none;
}
.mheader .user{
	position: relative;
	height: 70px;
	float: right;
}
.mheader .user .item.show{
	position: static !important;
}
.mheader .user .login{
	font-size: 14px;
	color: #fff;
}
.mheader .user .item{
	line-height: 70px;
}
.mheader .user .login a{
	color: #999;
	text-decoration: none;
	float: none;
}
.mheader .user .login a:hover{
	color: #fff;
}
.section .top-v{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: rgba(0,0,0,.4);
}
video{
	position: absolute;
	top: 70px;
	left: 0;
	z-index: 99999;
	object-fit: fill;
	display: inline-block;
	vertical-align: baseline;
}
.section video{
	width: 100%;
	height: 100%;
}




/*banner*/
.bg{
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	position: relative;
	top: 650px;
	left: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	background: url(../images/bg_top.jpg) no-repeat center;
}
.carousel{
    position: relative;
    margin: 0 auto;
    top: 0;
    margin-top: 8.4%;
    /*border: 0.01rem solid #000;*/
}
.slider-main-img{
    position: absolute;
    top: 0;
    left: 0;
}
.slider-ctrl {
    position: absolute;
    bottom: 0.05rem;
    left: 46%;
    transform: translate(-50%);
}
.slider-ctrl-con{
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 0.1rem;
    cursor: pointer;
}
.slider-ctrl .slider-ctrl-con-active {
    background-color: #000;
}


.fp-section .fp-table{
	display: table;
	width: 100%;
	table-layout: fixed;
}
.fp-section{
	position: relative;
	box-sizing: border-box;
}
.section{
	overflow: hidden;
}
.section2{
	background: url(../images/bg_1.jpg);
}




.footer{
	position: static;
	padding: 0 !important;
	display: block !important;
	width: 100%;
	height: 220px;
	background: #000;
	border-top: 3px solid #ff4c18;
	position: absolute;
	bottom: -1152px;
	float: left;
}
.footer .f-w{
	width: 1200px;
	margin: auto;
}
.footer .f-tit{
	width: 100%;
	height: 30px;
	line-height: 30px;
	position: relative;
	margin-top: -18px;
}
.f-tit .logo{
	margin-top: 34px !important;
	float: left;
}
.logo{
	width: 200px;
	height: 32px;
}
.footer p{
	text-indent: 0;
}
.contact{
	width: 354px;
	height: 56px;
	margin: auto;
	text-align: center;
	color: #666;
	font-size: 12px;
	letter-spacing: .86px;
	margin-top: 46px;
	position: relative;
}
.f-tit ul{
	list-style: none;
	position: absolute;
	overflow: hidden;
	top: 37px;
	left: 36%;
	transform: translateX(-50%)
	-webkit-transform: translateX(-50%);
}
.f-tit li{
	float: left;
	margin-right: 60px;
	font-size: 12px;
}
.f-tit ul li a{
	color: #666;
	font-size: 14px;
}
.f-tit ul li a:hover{
	color: #fff;
}
.contact .code,.contact .code2{
	position: absolute;
	top: -150px;
	left: -36px;
	background: #fff;
	padding: 6px 6px 10px;
	text-align: center;
	font-size: 12px;
	color: #000;
	display: none;
}
.contact ul{
	overflow: hidden;
	list-style: none;
}
.contact li{
	float: left;
	margin-right: 43px;
}
.contact li a:hover p{
	color: #fff;
}
.contact .app{
	background: url(../images1/app.png) no-repeat;
}
.contact .wx{
	background: url(../images1/3.png) no-repeat;
}
.contact .wb{
	background: url(../images1/2.png) no-repeat;
}
.contact .tb{
	background: url(../images1/5.png) no-repeat;
}
.contact a{
	display: inline-block;
	width: 45px;
	height: 56px;
	color: #666;
}
.footer p{
	text-indent: 0;
}
.contact p{
	line-height: 16px;
	margin-top: 40px;
	font-size: 14px;
	color: #666;
}
.f-line{
	width: 100%;
	height: 1px;
	background: #585858;
	margin-top: 12px;
}
.f-w .phone{
	background: none;
	font-size: 14px;
}
.phone{
	text-align: center;
	margin-top: 18px;
}
.phone span{
	display: inline-block;
	margin-right: 10px;
	color: #666;
	letter-spacing: 1px;
	line-height: 19px;
	font-size: 12px;
}
.cc{
	font-size: 12px;
	color: #333;
	letter-spacing: .86px;
	line-height: 30px;
	text-align: center;
}
.outlink{
	display: none;
}